@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('./navbar.css');
@import url('./footer.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root {
    --main-color:#229D33;   
    --text-color-white: #fff; /*white*/
    --text-color-black: #000; /*black*/
    --bg-color:#FCF7F1; 
    --big-font:4rem;    
    --h2-font:2.25rem;  
    --p-font:0.9rem;    
}
*::selection{
    background:var(--main-color);
    color: #fff;
}
body{
    color: var(--text-color);
    background:white;
}
.menu-list li a {
    color: black;
}
/*End Navbar*/

.header-line{
	background: var(--main-color);
	width: auto;
	height: 10vh;
	margin: 30px auto;
	position: relative;
}
.header-line h2{
	margin: 0;
	padding: 0;
	color: var(--text-color-white);	
	text-align: center;
	position: relative;
	top: 25%;
}
.container h3{
	margin-left: 25vh;
	margin-right: 25vh;
	color: var(--text-color-black);
	text-align: justify;
}
.container p{
	margin-left: 25vh;
	margin-right: 25vh;
	color: var(--text-color-black);
	text-align: justify;
	font-size: 16px;
}
.container ul li{
	margin-left: 25vh;
	margin-right: 25vh;
	color: var(--text-color-black);
	text-align: justify;
	font-size: 16px;
}
.container a{
	color: #0044CC;
}

/*Footer End*/

@media (max-width: 1560px) {
	:root {
		--big-font:3.5rem;
		--h2-font:2rem;
	}
}

@media (max-width: 1140px) {
	section{
		padding: 50px 8%;
	}
	.col{
		width: 50%;
		margin-bottom: 10px;
	}
	.container{
		margin-top: -10%;
	}
	.container p{
	margin-left: 10vh;
	margin-right: 10vh;
	color: var(--text-color-black);
	text-align: justify;
	font-size: 16px;
}
.container h3{
	margin-left: 5vh;
	margin-right: 5vh;
	color: var(--text-color-black);
	text-align: justify;
}
.container ul li{
	margin-left: 5vh;
	margin-right: 5vh;
	color: var(--text-color-black);
	text-align: justify;
	font-size: 16px;
}
    .menu-list li a {
    color: white;
}
}

@media (max-width: 720px) {
.container{
		margin-top: -10%;
	}
.container p{
	margin-left: 15vh;
	margin-right: 15vh;
	color: var(--text-color-black);
	text-align: justify;
	font-size: 16px;
	}
	.container h3{
	margin-left: 5vh;
	margin-right: 5vh;
	color: var(--text-color-black);
	text-align: justify;
}

.container ul li{
	margin-left: 5vh;
	margin-right: 5vh;
	color: var(--text-color-black);
	text-align: justify;
	font-size: 16px;
}
    .menu-list li a {
    color: white;
}
}

@media (max-width: 575px) {
	.col{
		width: 100%;
	}
	.container{
		margin-top: -20%;
	}
	.container p{
	margin-left: 5vh;
	margin-right: 5vh;
	color: var(--text-color-black);
	text-align: justify;
	font-size: 16px;
}
	.container h3{
	margin-left: 5vh;
	margin-right: 5vh;
	color: var(--text-color-black);
	text-align: justify;
}
	.container ul li{
	margin-left: 5vh;
	margin-right: 5vh;
	color: var(--text-color-black);
	text-align: justify;
	font-size: 16px;
}
    .menu-list li a {
    color: white;
}
}	